* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    display: flex;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.blog-img {
    width: 50rem;
    height: auto;
    margin: 0 auto;
    padding-left: 1rem;
}

.blog-img img {
    width: 50%;
    height: 50%;
    justify-content: centre;
    align-items: center;;
    display: flex;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 1rem;
    margin: 20px 0px;
}

@media(max-width:1100px){
    .blog-box{
        width: 300px;
    }
}

@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}

@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}