/* Blog title */
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
}

/* Main blog content */
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Blomg image */
.blog-img {
    width: 50rem;
    height: auto;
    margin: 0 auto;
    padding-left: 1rem;
}

.blog-img img {
    width: 60%;
}

/* Blog text */
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 1rem;
    margin: 20px 0px;
}

/* Media queries */
@media (max-width: 1200px) {
    .blog-img img {
        width: 90%;
    }
}

@media (max-width: 740px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
}

@media (max-width: 520px) {
    .logo {
        display: none;
    }

    .blog-img img {
        width: 80%;
    }

    .blog-text {
        margin-left: -4rem;
    }
}