* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 4vh;
    height: 58vh;
    margin: 0 10rem;
    min-height: fit-content;
    display: inline-flex;
}

section {
    margin: 0 10rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 20vh;
}

.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    margin: 0 auto;
}

/* .contact-header {
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.display-pic-containter {
        display: flex;
        /* height: 15vh;
        width: 15vh; */
        width: 25%;
        margin: 0 auto;
        padding-bottom: 5vh;
        align-items: flex-end;
}

.main-text {
    align-self: center;
    text-align: center;
    width: 75%;
    padding-left: 9rem;
}

footer {
    height: 7vh;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#social-icons {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1 rem;
}

.title {
    font-size: 3rem;
}

.section-text {
    font-size: 1.5rem;
}

.main-contact h1{
    height: 2rem;
}