/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav,
.nav-pages {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    display: flex;
    border-bottom: 1px solid black;
}

.nav-pages {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    font-size: 3rem;
}

.logo:hover {
    cursor: default;
}

/* Link styles */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: darkgray;
}

/* Footer styles */
footer {
    height: 5vh;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    margin-bottom: 1vh;
}
