* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 4vh 2%; /* Adjust padding for smaller screens */
    min-height: auto; /* Remove min-height for responsiveness */
    display: flex;
    flex-direction: column; /* Stack content vertically on smaller screens */
  }
       
section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
}   

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding-top: 3%;
    text-align: center; 
}

.main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.main-text {
    align-self: center;
    text-align: center;
    width: 100%;
}

footer {
    height: 10vh;
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
}

#social-icons {
    gap: 1rem;
    margin-top: 1rem;
    margin: 0 auto;;
}
#social-icons img {
    width: 3rem;
}

.title {
    font-size: 2rem;
}

.section-text {
    font-size: 1.4rem;
}

.main-contact h1{
    height: 2rem;
}

.display-pic-container img {
    max-width: 100%;
    height: auto;
  }

@media (max-width: 550px) {
    .logo {
        display: none;
    }
  }